@import "tailwindcss";






@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-surface: hsl(var(--surface));


  --font-poppins: "Poppins", sans-serif;
  --font-kaushan: "Kaushan Script", cursive;

  --text-normal: 20px;
}

@layer base {

  :root {
    --background: 270 7% 8%;
    --foreground: 251 89% 85%;
    --surface: 240 7% 14%;
  }
  body {
    @apply bg-background font-poppins text-normal text-foreground;
  }

  h1 {
    @apply text-[64px] font-bold text-[#ECEAFD];
  }

  h2 {
    @apply text-[44px] font-bold text-[#ECEAFD];
  }

  h3 {
    @apply text-[32px] font-semibold text-foreground;
  }
  
}
